/* .card-columns {
    column-count: 2;
} */

.anchor {
  display: block;
  height: 56px;
}
.fill-screen{
  height: calc(100vh - 56px);
}

.polygon{
	background-position: -42px -22px;
	background-repeat: no-repeat;
	width: 14px;
	height: 18px;
	background-size: 330px 60px;
}

#hero {
  height: 66vh;
}

#what_is_flip_my_lawn {
  /* font-size: 20px; */
}

#map {
  cursor: pointer;
}

/* The animation code */
@keyframes bounce {
   0% {transform: translateY(0);}
   50% {transform: translateY(-10px);}
}

/* The element to apply the animation to */
.bounce {
    animation: bounce 1s infinite;
}


@media (max-width: 992px) {
  p {
    font-size: 16px;
  }

  .hide-below-lg {
      display: none;
    }

  #map {
    height: calc(50vh)
  }

}
