<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127736095-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127736095-2');
</script>
<link rel="icon" href="./assets/favicon.ico" type="image/x-icon" />


<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- Include Leaflet CSS-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.3/leaflet.draw.css" />
<!-- Include Font Awesome CSS-->
<script src="https://kit.fontawesome.com/25f1d06ace.js"></script>
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> -->
<!-- Include custom CSS  -->
<link rel="stylesheet" href="css/style.css">

<title>Flip My Lawn</title>
</head>
<body data-spy="scroll" data-target="#nav" class="bg-dark">
  <nav id='nav' class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Flip My Lawn | v1.1 beta 2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#what_is_flip_my_lawn_anchor">What is Flip My Lawn?<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#savings_explorer_anchor">Explore savings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#next_steps_anchor">Next steps</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#native_plant_primer_anchor">Native Plant Primer</a>
        </li> -->
      </ul>
      <a class="navbar-text text-info" href="http://californiadatacollaborative.org" target="_blank">
        California Data Collaborative
      </a>
    </div>
  </nav>

  <div id='app' class="container-fluid bg-light">
    <div id="what_is_flip_my_lawn_anchor" class="anchor row"></div>
    <section id="what_is_flip_my_lawn" class="row">
      <div id='hero' class="col-lg-12" style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(assets/water-wise-plants.jpg);">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="col-lg-12 text-center text-white">

            <h1 class="display-4 d-none d-lg-block">Find out how much you could save with California native plants.</h1>
            <h1 class="lead d-lg-none">Find out how much you could save with California native plants.</h1>

            <div class="row justify-content-center">
              <div class="input-group input-group-lg mt-4 hide-below-lg col-md-6 col-lg-8">
                <input v-model='home_address' type="text" ref='autocomplete0' class="form-control" placeholder="Enter your home address" aria-label="Enter your home address" aria-describedby="button-addon">
                <div class="input-group-append">
                  <button v-scroll-to="'#savings_explorer_anchor'" class="btn btn-secondary" type="button" id="button-addon">See Estimates</button>
                </div>

              </div>

              <div class="input-group input-group-sm mt-2 d-lg-none col-11 col-sm-8 col-md-6 col-lg-6">
                <input v-model='home_address' type="text" ref='autocomplete1' class="form-control" placeholder="Enter your home address" aria-label="Enter your home address" aria-describedby="button-addon">
                <div class="input-group-append">
                  <button v-scroll-to="'#savings_explorer_anchor'" class="btn btn-secondary" type="button" id="button-addon">See Estimates</button>
                </div>

              </div>

            </div>
            <!-- <div class='mt-2'>
              <i>e.g., 10236 Charing Cross Rd, Los Angeles, CA 90024, USA </i>
            </div> -->
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="row justify-content-center my-5">
          <div class="col-lg-10">
            <h1 class="text-center mb-4">How Flip My Lawn works</h1>
            <div class="card-deck my-5">
              <div class="card">
                <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
                <div class="card-body">
                  <h4 class="card-title text-center">Define your project</h4>
                  <p class="card-text">
                    Search for your home to view estimates of the total square footage of lawn available for conversion using aerial imagery.
                  </p>
                  <p class="card-text">
                     You can fine tune the estimates by outlining the specific areas you are considering converting.
                  </p>
                </div>
                <div class="card-footer text-center">
                  <div class="row justify-content-center">
                      <small class="col-3"><i class="fas fa-search-location"></i></small>
                      <small class="col-3"><svg class='polygon' style="background-image: url(assets/polygon.svg);"></svg></small>
                  </div>

                </div>
              </div>

              <div class="card">
                <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
                <div class="card-body">
                  <h4 class="card-title text-center">View potential savings</h4>
                  <p class="card-text">
                    Using lawn area estimates and measurments of local environmental conditions, we calculate the potential water, carbon, and dollar savings.
                  </p>
                </div>
                <div class="card-footer text-center">
                  <div class="row justify-content-center">

                    <small class="col-3"><i class="fas fa-tint"></i></small>
                    <small class="col-3"><i class="fas fa-cloud"></i></small>
                    <small class="col-3"><i class="fas fa-hand-holding-usd"></i></small>
                    <!-- <small class="col-3"><i class="fas fa-tree"></i></small> -->
                  </div>
                </div>
              </div>
              <div class="card">
                <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
                <div class="card-body">
                  <h4 class="card-title text-center">Flip your lawn</h4>
                  <p class="card-text">
                    After viewing your potential savings, you can search for rebate opportunities, native plants, local nurseries, and vetted landscape contractors.
                  </p>
                </div>
                <div class="card-footer text-center">

                  <div class="row">
                    <small class="col-3"><i class="fas fa-search-dollar"></i></small>
                    <small class="col-3"><i class="fas fa-seedling"></i></small>
                    <small class="col-3"><i class="fas fa-store"></i></small>
                    <small class="col-3"><i class="fas fa-pencil-ruler"></i></small>
                  </div>
                </div>
              </div>
            </div>
            <p>Here in California, we can save water, energy, (and some money too) by converting our lawns to beautiful California native landscapes. Flip My Lawn was built to help streamline this conversion process. Here you will find estimates of potential savings and customized resources for next steps. <b>Please remember that the savings quoted are only estimates and may be optimistic.</b> Current imagery is from 2016. For more details about our approach, please take a look at our <a href="https://docs.google.com/document/d/10KD-uFsSv4Bu6RVPKvaiU_0P4ZvcW5R25bFYTtHzuAo/edit?usp=sharing" target="_blank">methodology</a>.</p>
            <p>Flip My Lawn is a joint effort of the California Data Collaborative and <a href="http://www.argolabs.org/" target="_blank">ARGO</a>, and it is funded by an <a href="http://www.bewaterwise.com/innovative-conservation-program.html" target="_blank">Innovative Conservation Program</a> grant.</p>
          </div>
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6 col-lg-6 text-center d-none d-md-block">
            <h4>View your personalized savings.</h4>
            <div class="input-group input-group-sm mt-3">
              <input v-model='home_address' type="text" ref='autocomplete2' class="form-control" placeholder="Enter your home address" aria-label="Enter your home address" aria-describedby="button-addon">
              <div class="input-group-append">
                <button v-scroll-to="'#savings_explorer_anchor'" class="btn btn-secondary" type="button" id="button-addon">See Estimates</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <div id="savings_explorer_anchor" class="anchor row"></div>
    <section id="savings_explorer" class="row bg-light">
      <div class="col-md-12 col-lg-6 pt-3">
        <label for="search-addon">
          <!-- <b> -->
          Home Address
          <!-- </b> -->
        </label>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="search-addon">
              <!-- <b>Home Address</b> -->
              <i class="fas fa-search-location"></i>
            </span>
          </div>
          <input v-model='home_address' type="text" ref='autocomplete3' class="form-control" placeholder="Enter your home address" aria-label="Enter your home address">
          <!-- <div class="input-group-append">
          <button v-scroll-to="'#savings_explorer_anchor'" class="btn btn-secondary" type="button" id="button-addon">See Estimates</button>
        </div> -->
      </div>

      <label for="leaf-addon-addon">
        <!-- <b> -->
        Turf Area For Conversion
        <!-- </b> -->
      </label>
      <div class="input-group input-group-sm mb-3">
        <!-- <div class="input-group-prepend"> -->
        <!-- <span class="input-group-text" id="leaf-addon"> -->
        <!-- <i class="fas fa-leaf"></i> -->
        <!-- <b>Turf Area For Conversion</b> -->
        <!-- </span> -->
        <!-- </div> -->
        <input v-model='turf_area_for_display' type="text" class="form-control" placeholder="Enter an address above, or click a yard on the map" aria-label="Enter an address above, or click a yard on the map" aria-describedby="button-addon" disabled>
        <div v-if="data_available" class="input-group-append">
          <button class="btn btn-success" type="button" id="button-addon" data-toggle="modal" data-target="#instruction_modal">Edit</button>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="instruction_modal" tabindex="-1" role="dialog" aria-labelledby="instruction_modal_title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="instruction_modal_title">Draw polygons around the parts of your lawn you would like to convert</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ol class="">
                <li class="mb-3 mr-3">Click the &nbsp<svg class='polygon' style="background-image: url(assets/polygon.svg);"></svg>&nbsp on the map to start drawing</li>
                <li class="mb-3 mr-3">Follow the popup prompts to continue and complete the drawing</li>
                <li class="mb-3 mr-3">Click the &nbsp<svg class='polygon' style="background-image: url(assets/polygon.svg);"></svg>&nbsp again to draw additional polygons</li>
                <li class="mb-3 mr-3">Click anywhere outside of your drawing to reset to the default estimates</li>
              </ol>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal">Got it.</button>
            </div>
          </div>
        </div>
      </div>
      <div class="bounce" v-bind:class="{'text-center':!data_available, 'd-none':data_available&&turf_area!=='No turf area data', 'float-right':ventura&&data_available}">
        <h1><i class="fas fa-arrow-up"></i></h1>
      </div>
      <div class="text-center" v-bind:class="{'d-none': data_available||!initialized }">
        <h5>No data for this yard...</h5>
      </div>
      <div v-if="data_available && turf_area!=='No turf area data'" class="d-none d-lg-block">
        <div class="row">
            <h2 class="col-2 text-center align-self-center pr-0">
              <i class="fas fa-tint"></i>
            </h2>
          <div class="col-10">
            <p>
              <h5>{{water_savings_for_display}}k gallons of water saved per year</h5>
              <small><i>Based on estimates of current turf area for conversion and local environmental conditions</i></small>
            </p>
          </div>
        </div>
        <div class="row">
          <h2 class="col-2 text-center align-self-center pr-0">
            <i class="fas fa-cloud"></i>
          </h2>
          <div class="col-10">
            <p>
              <h5>{{carbon_savings_for_display}} pounds of carbon saved per year</h5>
              <small><i>Based on estimates of energy consumption embedded in the operation of urban water infrastructure systems</i></small>
            </p>
          </div>
        </div>
        <div class="row">
          <h2 class="col-2 text-center align-self-center pr-0">
            <i class="fas fa-hand-holding-usd"></i>
          </h2>
          <div class="col-10">
            <p>
              <h5>${{dollar_savings_for_display}} in savings over 20 years</h5>
              <small><i>Based on cost estimates of water, installation (considering rebates), and yard maintenance</i></small>
            </p>

          </div>
        </div>
        <hr>
        <!-- <h5 class='text-center mb-3'>Broader Environmental Impact</h5>
        <div class="row text-center align-items-center">


          <div class="col-md-5">
            <h6>Potential pounds of carbon saved per year</h6>
            <p>{{carbon_savings_for_display}}</p>
          </div>
          <div class="col-md-2">
            =
          </div>
          <div class="col-md-5">
            <h6>Tree seedlings grown for 10 years per year</h6>
            <p>{{trees_grown_for_display}}</p>
          </div>

        </div> -->
        <div class="mx-auto text-center">
          Curious about flipping that lawn?
          <br>
          <button v-scroll-to="'#next_steps_anchor'" class="btn btn-primary mt-2 mb-4" type="button" id="button-addon">Learn about next steps</button>
          <!-- <a class="btn btn-success mt-1" target="_blank" :href="customCalscapeUrl" role="button">Find plants native to your area</a>
          <a class="btn btn-primary mt-1" target="_blank" href="https://www.qwel.net/map" role="button">Find qualified local landscapers</a> -->
        </div>
        <!-- <p class="text-center lead">
          <i>
            Please remember that these are only <a href="https://docs.google.com/document/d/10KD-uFsSv4Bu6RVPKvaiU_0P4ZvcW5R25bFYTtHzuAo/edit">estimates</a> and may be optimistic.
          </i>
        </p> -->
      </div>
    </div>

    <div class="col-md-12 col-lg-6 px-0">
      <div id="map" class="fill-screen"></div>
      <div class="modal fade" id="not_so_fast_modal" tabindex="-1" role="dialog" aria-labelledby="instruction_modal_title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="not_so_fast_modal_title">Hey, not so fast!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Please search for an address or click a yard on the map first.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal">Got it.</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="data_available && turf_area!=='No turf area data'" class="d-lg-none col-md-12">
      <div class="row">
          <h2 class="col-2 text-center align-self-center pr-0">
            <i class="fas fa-tint"></i>
          </h2>
        <div class="col-10">
          <p>
            <h5>{{water_savings_for_display}}k gallons of water saved per year</h5>
            <small><i>Based on estimates of current turf area for conversion and local environmental conditions</i></small>
          </p>
        </div>
      </div>
      <div class="row">
        <h2 class="col-2 text-center align-self-center pr-0">
          <i class="fas fa-cloud"></i>
        </h2>
        <div class="col-10">
          <p>
            <h5>{{carbon_savings_for_display}} pounds of carbon saved per year</h5>
            <small><i>Based on estimates of energy consumption embedded in the operation of urban water infrastructure systems</i></small>
          </p>
        </div>
      </div>
      <div class="row">
        <h2 class="col-2 text-center align-self-center pr-0">
          <i class="fas fa-hand-holding-usd"></i>
        </h2>
        <div class="col-10">
          <p>
            <h5>${{dollar_savings_for_display}} in savings over 20 years</h5>
            <small><i>Based on cost estimates of water, installation (considering rebates), and yard maintenance</i></small>
          </p>

        </div>
      </div>
      <hr>
      <!-- <h5 class='text-center mb-3'>Broader Environmental Impact</h5>
      <div class="row text-center align-items-center">


        <div class="col-md-5">
          <h6>Potential pounds of carbon saved per year</h6>
          <p>{{carbon_savings_for_display}}</p>
        </div>
        <div class="col-md-2">
          =
        </div>
        <div class="col-md-5">
          <h6>Tree seedlings grown for 10 years per year</h6>
          <p>{{trees_grown_for_display}}</p>
        </div>

      </div> -->
      <div class="mx-auto text-center">
        Curious about flipping that lawn?
        <br>
        <button v-scroll-to="'#next_steps_anchor'" class="btn btn-primary mt-2 mb-4" type="button" id="button-addon">Learn about next steps</button>
        <!-- <a class="btn btn-success mt-1" target="_blank" :href="customCalscapeUrl" role="button">Find plants native to your area</a>
        <a class="btn btn-primary mt-1" target="_blank" href="https://www.qwel.net/map" role="button">Find qualified local landscapers</a> -->
      </div>
      <!-- <p class="text-center lead">
        <i>
          Please remember that these are only <a href="https://docs.google.com/document/d/10KD-uFsSv4Bu6RVPKvaiU_0P4ZvcW5R25bFYTtHzuAo/edit">estimates</a> and may be optimistic.
        </i>
      </p> -->
    </div>
  </section>
  <div id="next_steps_anchor" class="anchor row bg-white"></div>
  <section id="next_steps" class="row py-3 bg-white">
    <div class="col-lg-12">
        <h1 class="text-center mt-3">Your next steps</h1>
      <div class="row justify-content-center mt-4">
        <div class="col-lg-10">

          <div class="card-deck mt-4">
            <div class="card">
              <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
              <div class="card-body">
                <h1 class='text-center text-success'><i class="fas fa-search-dollar"></i></h1>
                <h4 class="card-title text-center  mb-4">Save Money</h4>
                <!-- <small> -->
                <p class="card-text ">
                  Most water districts offer rebates for turf removal and/or efficient irrigation equipment. Check your local utility's website.
                </p>
                <!-- </small> -->
              </div>
              <div class="card-footer text-center bg-white border-top-0">
                <a class="btn btn-sm btn-success btn-block" target="_blank" :href="customrebateUrl" role="button">Find rebates</a>
              </div>
            </div>

            <div class="card">
              <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
              <div class="card-body">
                <h1 class='text-center text-success'><i class="fas fa-seedling"></i></h1>
                <h4 class="card-title text-center mb-4">Choose Plants</h4>


                <p class="card-text">
                  Not all CA native plants are native to all of CA. Find plants native to your area for your garden.
                </p>
              </div>
              <div class="card-footer text-center bg-white border-top-0">
                <a class="btn btn-sm btn-success btn-block" target="_blank" :href="customCalscapeUrl" role="button">Find plants</a>
              </div>
            </div>
            <div class="card">
              <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
              <div class="card-body">
                <h1 class='text-center text-success'><i class="fas fa-store"></i></h1>
                <h4 class="card-title text-center mb-4">Locate Nurseries</h4>
                <!-- <small> -->
                <p class="card-text ">
                  Not all nurseries stock native plants. Find local nurseries that do. Even if you don't plan on "Doing It Yourself," being aware local nurseries that stock natives can help inform conversations with a landscape contractor.
                </p>
                <!-- </small> -->
              </div>
              <div class="card-footer text-center bg-white border-top-0">
                <a class="btn btn-sm btn-success btn-block" target="_blank" href="https://calscape.org/plant_nursery.php" role="button">Find nurseries</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mb-5">
        <div class="col-lg-10">
          <div class="card-deck mt-4 mb-5">
            <div class="card">
              <div class="card-body">
                <h1 class='text-center text-primary'><i class="fas fa-pencil-ruler"></i></h1>
                <h4 class="card-title text-center mb-4">Contact Qualified Contractors</h4>
                <p class="card-text">
                  Now that you have done some research, if you don't plan on landscaping yourself, the final step in flipping your lawn is to reach out to a landscape contractor. Below you can find links to help you find local landscapers that have been certified to install and maintain water-efficient landscapes.
                </p>

                <div class="row">
                  <div class="col-lg-6">
                    <h6 class="card-title text-center">CLCA Certified</h6>
                    <p class="card-text ">
                    CLCA certified landscape professionals must pass a written test, complete an irrigation audit, and demonstrate proficiency on landscape jobs for one year before becoming fully certified.
                    </p>
                    <div class="text-center bg-white border-top-0 d-lg-none">
                      <a class="btn btn-sm btn-primary btn-block" target="_blank" href="http://member-clca.org/max/4DCGI/directory/contractor/index.html" role="button">Find a CLCA certified landscaper</a>
                      <br>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <h6 class="card-title text-center">QWEL Certified</h6>
                    <p class="card-text ">
                      QWEL certified landscape professionals must pass a written test, complete an irrigation audit, and complete 20 hours of classroom learning covering irrigation systems, landscape design and water budgeting before becoming fully certified.
                    </p>
                    <div class="text-center bg-white border-top-0 d-lg-none">
                      <a class="btn btn-sm btn-primary btn-block" target="_blank" href="https://www.qwel.net/map" role="button">Find a QWEL certified landscaper</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-center bg-white border-top-0 d-none d-lg-block">
                <div class="row">
                  <div class="col-lg-6">
                    <a class="btn btn-sm btn-primary btn-block" target="_blank" href="http://member-clca.org/max/4DCGI/directory/contractor/index.html" role="button">Find a CLCA certified landscaper</a>
                  </div>
                  <div class="col-lg-6">
                    <a class="btn btn-sm btn-primary btn-block" target="_blank" href="https://www.qwel.net/map" role="button">Find a QWEL certified landscaper</a>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>

  <!-- <div id="native_plant_primer_anchor" class="anchor row bg-white"></div>
  <section id="native_plant_primer" class="row py-3 bg-white">
    <div class="col-lg-12">
      <div class="row justify-content-center my-4">
        <div class="col-lg-11">
          <h1>Benefits of California Native Plants</h1>
          <h4>California native gardens are sustainable, save water, and provide habitat for pollinators</h4>
          <div class="card-deck mt-4">
            <div class="card border-0">
              <img src="assets/cnps_1.jpg" class="card-img" alt="...">
            </div>
            <div class="card border-0">
              <img src="assets/cnps_2.jpg" class="card-img" alt="...">
            </div>
            <div class="card border-0">
              <img src="assets/cnps_3.jpg" class="card-img" alt="...">
            </div>
            <div class="card border-0">
              <img src="assets/cnps_4.jpg" class="card-img" alt="...">
            </div>
          </div>
          </div>
      </div>
      <div class="row justify-content-center mb-4">
        <div class="col-lg-11">
          <h3>Save Water</h3>
          <p>Once established, many California native plants need minimal irrigation beyond normal rainfall.  Saving water conserves a vital, limited resource and saves money, too!</p>
          <h3>Lower Maintenance</h3>
          <p>While no landscape is maintenance free, California native plants require significantly less time and resources than common non-native garden plants.  California native plants do best with some attention and care in a garden setting, but you can look forward to using less water, little to no fertilizer, little to no pesticides, less pruning, and less of your time.</p>
          <h3>Pesticide Freedom</h3>
          <p>Native plants have developed their own defenses against many pests and diseases.  Since most pesticides kill indiscriminately, beneficial insects become secondary targets in the fight against pests.  Reducing or eliminating pesticide use lets natural pest control take over and keeps garden toxins out of our creeks and watersheds.</p>
          <h3>Wildlife Viewing</h3>
          <p>Native plants, hummingbirds, butterflies, and other beneficial insects are “made for each other.”  Research shows that native wildlife clearly prefers native plants.  California’s wealth of insect pollinators can improve fruit set in your garden, while a variety of native insects and birds will help keep your landscape free of mosquitoes and plant-eating bugs.</p>
          <h3>Support Local Ecology</h3>
          <p>As development replaces natural habitats, planting gardens, parks, and roadsides with California native plants can help provide an important “bridge” to nearby remaining wildlands.  Recommend native plants to homeowner associations, neighbors, and civic departments. Get involved in your community and with local land-use planning processes to help preserve our California native plants and wildlife.</p>
          <i>Primer text from: <a href="https://www.cnps.org/gardening/why-natives/benefits-of-california-native-plants" target="_blank">California Native Plant Society</a></i>
          <br>
          <i>Native plant database: <a href="https://calscape.org/" target="_blank">Calscape.org</a></i>
        </i>
      </div>
    </div>
  </div>
</section> -->
</div>


<!-- Include google places -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeUK3Kp8QZGokPq2B-CQ_PDG1kNbbhIQw&libraries=places"
async defer></script>
<!-- Include Leaflet -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.3/leaflet.draw.js"></script>
<!-- Include CARTO.js -->
<script src="https://cartodb-libs.global.ssl.fastly.net/carto.js/v4.1.5/carto.min.js"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- development version, includes helpful console warnings -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script src="https://cdn.jsdelivr.net/npm/vue-scrollto"></script>


<!-- custom JavaScript -->
<script type="text/javascript" src="js/search.js"></script>
<script type="text/javascript" src="js/map.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<!-- <script type="text/javascript" src="js_dev/search.js"></script>
<script type="text/javascript" src="js_dev/map.js"></script>
<script type="text/javascript" src="js_dev/script.js"></script> -->
</body>
</html>
