<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', "UA-46240051-10", 'auto');
  ga('send', 'pageview');
</script>

<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- Include Leaflet CSS-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.3/leaflet.draw.css" />
<!-- Include Font Awesome CSS-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!-- Include custom CSS  -->
<link rel="stylesheet" href="css/style.css">

<title>Flip My Lawn</title>
</head>
<body data-spy="scroll" data-target="#nav" class="bg-dark">
  <nav id='nav' class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Flip My Lawn | v1.1 beta 2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#what_is_flip_my_lawn_anchor">What is Flip My Lawn?<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#savings_explorer_anchor">Savings Explorer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#native_plant_primer_anchor">Native Plant Primer</a>
        </li>
      </ul>
      <a class="navbar-text text-info" href="https://argolabs.org" target="_blank">
        Powered by ARGO
      </a>
    </div>
  </nav>

  <div id='app' class="container-fluid bg-light">
    <div id="what_is_flip_my_lawn_anchor" class="anchor row"></div>
    <section id="what_is_flip_my_lawn" class="row">
      <div id='hero' class="col-lg-12" style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(assets/water-wise-plants.jpg);">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="col-lg-12 text-center text-white">

            <h1 class="display-4 d-none d-lg-block">Find out how much you could save with California native plants.</h1>
            <h1 class="lead d-lg-none">Find out how much you could save with California native plants.</h1>

            <div class="row justify-content-center">
              <div class="input-group input-group-lg mt-4 hide-below-lg col-md-6 col-lg-8">
                <input v-model='home_address' type="text" ref='autocomplete0' class="form-control" placeholder="Enter your home address" aria-label="Enter your home address" aria-describedby="button-addon">
                <div class="input-group-append">
                  <button v-scroll-to="'#savings_explorer_anchor'" class="btn btn-secondary" type="button" id="button-addon">See Estimates</button>
                </div>
              </div>
              <div class="input-group input-group-sm mt-2 d-lg-none col-11 col-sm-8 col-md-6 col-lg-6">
                <input v-model='home_address' type="text" ref='autocomplete1' class="form-control" placeholder="Enter your home address" aria-label="Enter your home address" aria-describedby="button-addon">
                <div class="input-group-append">
                  <button v-scroll-to="'#savings_explorer_anchor'" class="btn btn-secondary" type="button" id="button-addon">See Estimates</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="row justify-content-center my-5">
          <div class="col-lg-10">
            <h1 class="text-center mb-4">What is Flip My Lawn?</h1>
            <div class="card-deck my-5">
              <div class="card">
                <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
                <div class="card-body">
                  <h3 class="card-title text-center">1. Search for your home</h3>
                  <p class="card-text lead">
                    We estimate the total square footage of lawn available for conversion using publicly available imagery from airplanes.
                  </p>
                </div>
                <div class="card-footer text-center">
                  <small class=""><i class="fas fa-search-location"></i></small>
                </div>
              </div>
              <div class="card">
                <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
                <div class="card-body">
                  <h3 class="card-title text-center">2. Personalize your analysis</h3>
                  <p class="card-text lead">
                    Fine tune the estimates by outlining the specific areas you are considering converting.
                  </p>
                </div>
                <div class="card-footer text-center">
                  <small class=""><svg class='polygon' style="background-image: url(assets/polygon.svg);"></svg></small>
                </div>
              </div>
              <div class="card">
                <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
                <div class="card-body">
                  <h3 class="card-title text-center">3. View potential savings</h3>
                  <p class="card-text lead">
                    We calculate potential savings using lawn area estimates and measurments of local environmental conditions.
                  </p>
                </div>
                <div class="card-footer text-center">
                  <div class="row">
                    <small class="col-3"><i class="fas fa-tint"></i></small>
                    <small class="col-3"><i class="fas fa-hand-holding-usd"></i></small>
                    <small class="col-3"><i class="fas fa-cloud"></i></small>
                    <small class="col-3"><i class="fas fa-tree"></i></small>
                  </div>
                </div>
              </div>
            </div>
            <p>Here in California, we can save water (and some money too) by converting our lawns to beautiful California native landscapes. Flip My Lawn was built to provide simple, easy-to-access estimates of these savings for all Californians. <b>Please remember that these are only estimates and may be optimistic.</b> Current imagery is from 2016. For more details about our approach, please take a look at our <a href="https://docs.google.com/document/d/10KD-uFsSv4Bu6RVPKvaiU_0P4ZvcW5R25bFYTtHzuAo/edit?usp=sharing" target="_blank">methodology</a>.</p>
            <p>Flip My Lawn is a joint effort of the California Data Collaborative and the University of California, Los Angeles. It is funded by an <a href="http://www.bewaterwise.com/innovative-conservation-program.html" target="_blank">Innovative Conservation Program</a> grant and built by <a href="http://www.argolabs.org/" target="_blank">ARGO</a>.</p>
          </div>
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6 col-lg-6 text-center d-none d-md-block">
            <h4>View your personalized savings.</h4>
            <div class="input-group input-group-sm mt-3">
              <input v-model='home_address' type="text" ref='autocomplete2' class="form-control" placeholder="Enter your home address" aria-label="Enter your home address" aria-describedby="button-addon">
              <div class="input-group-append">
                <button v-scroll-to="'#savings_explorer_anchor'" class="btn btn-secondary" type="button" id="button-addon">See Estimates</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <div id="savings_explorer_anchor" class="anchor row"></div>
    <section id="savings_explorer" class="row bg-light">
      <div class="col-md-12 col-lg-6 pt-3">

        <label for="search-addon">
          <!-- <b> -->
          Home Address
          <!-- </b> -->
        </label>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="search-addon">
              <!-- <b>Home Address</b> -->
              <i class="fas fa-search-location"></i>
            </span>
          </div>
          <input v-model='home_address' type="text" ref='autocomplete3' class="form-control" placeholder="Enter your home address" aria-label="Enter your home address">
          <!-- <div class="input-group-append">
          <button v-scroll-to="'#savings_explorer_anchor'" class="btn btn-secondary" type="button" id="button-addon">See Estimates</button>
        </div> -->
      </div>

      <label for="leaf-addon-addon">
        <!-- <b> -->
        Turf Area For Conversion
        <!-- </b> -->
      </label>
      <div class="input-group input-group-sm mb-3">
        <!-- <div class="input-group-prepend"> -->
        <!-- <span class="input-group-text" id="leaf-addon"> -->
        <!-- <i class="fas fa-leaf"></i> -->
        <!-- <b>Turf Area For Conversion</b> -->
        <!-- </span> -->
        <!-- </div> -->
        <input v-model='turf_area_for_display' type="text" class="form-control" placeholder="Enter an address above, or click a yard on the map" aria-label="Enter an address above, or click a yard on the map" aria-describedby="button-addon" disabled>
        <div v-if="data_available" class="input-group-append">
          <button class="btn btn-success" type="button" id="button-addon" data-toggle="modal" data-target="#instruction_modal">Edit</button>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="instruction_modal" tabindex="-1" role="dialog" aria-labelledby="instruction_modal_title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="instruction_modal_title">Draw polygons around the parts of your lawn you would like to convert</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ol class="">
                <li class="mb-3 mr-3">Click the &nbsp<svg class='polygon' style="background-image: url(assets/polygon.svg);"></svg>&nbsp on the map to start drawing</li>
                <li class="mb-3 mr-3">Follow the popup prompts to continue and complete the drawing</li>
                <li class="mb-3 mr-3">Click the &nbsp<svg class='polygon' style="background-image: url(assets/polygon.svg);"></svg>&nbsp again to draw additional polygons</li>
                <li class="mb-3 mr-3">Click anywhere outside of your drawing to reset to the default estimates</li>
              </ol>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal">Got it.</button>
            </div>
          </div>
        </div>
      </div>
      <div class="bounce" v-bind:class="{'text-center':!data_available, 'd-none':data_available&&turf_area!=='No turf area data', 'float-right':ventura&&data_available}">
        <h1><i class="fas fa-arrow-up"></i></h1>
      </div>
      <div class="text-center" v-bind:class="{'d-none': data_available||!initialized }">
        <h5>No data for this yard...</h5>
      </div>
      <div v-if="data_available && turf_area!=='No turf area data'" class="d-none d-lg-block">
        <p>
          <h4>{{water_savings_for_display}}k gallons of water saved per year</h4>
          <i>Based on estimates of current turf area for conversion and local environmental conditions</i>
        </p>
        <p>
          <h4>${{dollar_savings_for_display}} in savings over 20 years</h4>
          <i>Based on cost estimates of water, installation (considering rebates), and yard maintenance</i>
        </p>
        <hr>
        <h5 class='text-center mb-3'>Broader Environmental Impact</h5>
        <div class="row text-center align-items-center">


          <div class="col-md-5">
            <h6>Potential pounds of carbon saved per year</h6>
            <p>{{carbon_savings_for_display}}</p>
          </div>
          <div class="col-md-2">
            =
          </div>
          <div class="col-md-5">
            <h6>Tree seedlings grown for 10 years per year</h6>
            <p>{{trees_grown_for_display}}</p>
          </div>

        </div>
        <div class="mx-auto text-center text-success mt-3 mb-4">
          Ready to flip your lawn?
          <br>
          <br>
          <a class="btn btn-primary" target="_blank" href="https://www.qwel.net/map" role="button">Let's Find a Landscaper</a>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6 px-0">
      <div id="map" class="fill-screen"></div>
      <div class="modal fade" id="not_so_fast_modal" tabindex="-1" role="dialog" aria-labelledby="instruction_modal_title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="not_so_fast_modal_title">Hey, not so fast!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Please search for an address or click a yard on the map first.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal">Got it.</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="data_available && turf_area!=='No turf area data'" class="d-lg-none col-md-12">
      <p>
        <h4>{{water_savings_for_display}}k gallons of water saved per year</h4>
        <i>Based on estimates of current turf area for conversion and local environmental conditions</i>
      </p>
      <p>
        <h4>${{dollar_savings_for_display}} in savings over 20 years</h4>
        <i>Based on cost estimates of water, installation (considering rebates), and yard maintenance</i>
      </p>
      <hr>
      <h5 class='text-center mb-3'>Broader Environmental Impact</h5>
      <div class="row text-center align-items-center">


        <div class="col-md-5">
          <h6>Potential pounds of carbon saved per year</h6>
          <p>{{carbon_savings_for_display}}</p>
        </div>
        <div class="col-md-2">
          =
        </div>
        <div class="col-md-5">
          <h6>Tree seedlings grown for 10 years per year</h6>
          <p>{{trees_grown_for_display}}</p>
        </div>

      </div>
      <div class="mx-auto text-center text-success mt-3 mb-4">
        Ready to flip your lawn?
        <br>
        <br>
        <a class="btn btn-primary" target="_blank" href="https://www.qwel.net/map" role="button">Let's Find a Landscaper</a>
      </div>
    </div>
  </section>

  <div id="native_plant_primer_anchor" class="anchor row bg-white"></div>
  <section id="native_plant_primer" class="row py-3 bg-white">
    <div class="col-lg-12">
      <div class="row justify-content-center my-4">
        <div class="col-lg-11">
          <h1>Benefits of California Native Plants</h1>
          <h4>California native gardens are sustainable, save water, and provide habitat for pollinators</h4>
          <div class="card-deck mt-4">
            <div class="card border-0">
              <img src="assets/cnps_1.jpg" class="card-img" alt="...">
            </div>
            <div class="card border-0">
              <img src="assets/cnps_2.jpg" class="card-img" alt="...">
            </div>
            <div class="card border-0">
              <img src="assets/cnps_3.jpg" class="card-img" alt="...">
            </div>
            <div class="card border-0">
              <img src="assets/cnps_4.jpg" class="card-img" alt="...">
            </div>
          </div>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
        </div>
      </div>
      <div class="row justify-content-center mb-4">
        <div class="col-lg-11">
          <h3>Save Water</h3>
          <p>Once established, many California native plants need minimal irrigation beyond normal rainfall.  Saving water conserves a vital, limited resource and saves money, too!</p>
          <h3>Lower Maintenance</h3>
          <p>While no landscape is maintenance free, California native plants require significantly less time and resources than common non-native garden plants.  California native plants do best with some attention and care in a garden setting, but you can look forward to using less water, little to no fertilizer, little to no pesticides, less pruning, and less of your time.</p>
          <h3>Pesticide Freedom</h3>
          <p>Native plants have developed their own defenses against many pests and diseases.  Since most pesticides kill indiscriminately, beneficial insects become secondary targets in the fight against pests.  Reducing or eliminating pesticide use lets natural pest control take over and keeps garden toxins out of our creeks and watersheds.</p>
          <h3>Wildlife Viewing</h3>
          <p>Native plants, hummingbirds, butterflies, and other beneficial insects are “made for each other.”  Research shows that native wildlife clearly prefers native plants.  California’s wealth of insect pollinators can improve fruit set in your garden, while a variety of native insects and birds will help keep your landscape free of mosquitoes and plant-eating bugs.</p>
          <h3>Support Local Ecology</h3>
          <p>As development replaces natural habitats, planting gardens, parks, and roadsides with California native plants can help provide an important “bridge” to nearby remaining wildlands.  Recommend native plants to homeowner associations, neighbors, and civic departments. Get involved in your community and with local land-use planning processes to help preserve our California native plants and wildlife.</p>
          <i>Primer text from: <a href="https://www.cnps.org/gardening/why-natives/benefits-of-california-native-plants" target="_blank">California Native Plant Society</a></i>
          <br>
          <i>Native plant database: <a href="https://calscape.org/" target="_blank">Calscape.org</a></i>
          </i>
        </div>
      </div>
    </div>
  </section>
</div>


<!-- Include google places -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeUK3Kp8QZGokPq2B-CQ_PDG1kNbbhIQw&libraries=places"
async defer></script>
<!-- Include Leaflet -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.3/leaflet.draw.js"></script>
<!-- Include CARTO.js -->
<script src="https://cartodb-libs.global.ssl.fastly.net/carto.js/v4.1.5/carto.min.js"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- development version, includes helpful console warnings -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script src="https://cdn.jsdelivr.net/npm/vue-scrollto"></script>


<!-- custom JavaScript -->
<script type="text/javascript" src="js/search.js"></script>
<script type="text/javascript" src="js/map.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<!-- <script type="text/javascript" src="js_dev/search.js"></script>
<script type="text/javascript" src="js_dev/map.js"></script>
<script type="text/javascript" src="js_dev/script.js"></script> -->
</body>
</html>
